#kt{

    font-size: 1.5rem;

}

.form{

    text-align: center;

}

.head{

    text-align:center;

}

.head2{

}

body{
    background-color: rgb(189, 252, 192);
}

form button {

    background-color: rgb(221, 90, 90);

}